.right-sidebar{
    float: right;
    width: 300px;
    margin: 40px 0px 15px 24px;
}

.widget {
    margin-top: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
    -3px -3px 10px rgb(0 0 0 / 5%);
    font-size: 13px;
}

.widget h4{
    background-color: #fbf3d5;
    margin: 0%;
    padding: 15px;
    border: solid 1px #f1e5bc;
}


.right-sidebar-div-1{
    background-color: #fdf7e2;
    border: solid 1px #f1e5bc;
}

.rightSide-icon{
    padding-top: 14px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.right-sidebar-div-1 .right-sidebar-div-2{
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
   
}

.right-sidebar-div-1 .right-sidebar-div-2{
    padding-left: 10px;
    margin-top: 0%;
}

.widget-tags{
   margin-top: 40px;
   box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
    -3px -3px 10px rgb(0 0 0 / 5%);
    font-size: 13px;
}

.widget-tags h4{
    margin: 0%;
    padding: 15px;
    background-color: #f8f9f9;
    border: solid 1px #e3e6e8;
}

.widget-tags-div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #e3e6e8;
    padding: 10px;
}

.widget-tags-div p{
    padding: 5px;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 2px;
}

@media only screen and (max-width: 800px) {
    .fade-rightSidebar {
        display: none;
    }
}